@{
    ViewBag.Title = "What is Attitude Aviation?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Attitude Aviation is a company in Hungtington, West Virginia</p>
<p>We do airplane rentals, airplane maintenance, and flight lessons!</p>
