@{
    ViewBag.Title = "Wish to contact Attitude Aviation?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<address>
    Huntington Tri-State Airport<br />
    1433 Airport Road Hanger 8<br />
    Huntington, WV<br />
    <abbr title="Phone">Phone:</abbr>
    304-453-1111
</address>