@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Attitude Aviation</h1>
    <p class="lead">Attitude Aviation is a company in Hungtington, West Virginia. We do airplane rentals, airplane maintenance, and flight lessons!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rent Planes</h2>
        <p>
            Rent planes available at affordable prices!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plane Maintenance</h2>
        <p>Send in your planes for repair at affordable prices!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Flight Lessons</h2>
        <p>Learn to fly at Attitude Aviation!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>